* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(253, 253, 253);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #007BFF;
    color: #fff; 
}
#blog-content , p{
    font-size: 20px;
}
.title-summary>h1{
    margin-bottom: 30px;
}
.blog-image > img{
    height: 200px;
    width: 500px;
}

main {
    padding: 20px;
    font-size: 16px; 
}
#back{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
#back > button {
    border: none;
    background-color: transparent;
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column; 
        text-align: center;
    }
    .blog-image {
        margin: 20px auto;
    }
}